<% layout("/layouts/boilerplate") %>
<%= success %>
<body>
    <h2>All Listings</h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let lists of alllists) { %>
        <a href="/listings/<%=lists.id%>" class="listing-link">
            <div class="card listing-card" >
    <img src="<%=lists.image.url%>" class="card-img-top" alt="listing_image">
    <div class="card-img-overlay"></div>
    <div class="card-body">
    <h5 class="card-title"><%=lists.title%></h5>
    <p class="card-text">
        <!-- <%=lists.description%><br> -->
       &#x20B9; <%= lists.price.toLocaleString("en-IN")%>/Night
    </p>
  </div>
</div>
<% } %>
</div>
</a>
    
       
</body>
