<% layout("/layouts/boilerplate") %>
 

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3><%= list.title %></h3>
    </div>

    <div class="card listing-card col-5 offset-2">
        <img src="<%= list.image.url %>" class="card-img-top show-img" alt="listing_image">

        <div class="card-body">
            <p class="card-text">
                <b>Owner : <%= list.owner.username %></b><br>
                <%= list.description %><br>
                &#x20B9;<%= list.price.toLocaleString("en-IN") %><br>
                <%= list.location %><br>
                <%= list.country %>
            </p>

            <% if (currUser && list.owner._id.equals(currUser._id)) { %>
                <div class="d-flex gap-2">
                    <a href="/listings/<%= list._id %>/edit" class="btn btn-dark btn-add">Edit</a>

                    <form method="post" action="/listings/<%= list._id %>?_method=DELETE">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div class="col-8 offset-2 mt-4 mb-4">

    <% if (currUser) { %>

        <h4>Leave a Review</h4>

        <form method="post"
              action="/listings/<%= list._id %>/reviews"
              novalidate
              class="needs-validation">

            <div class="mb-3">
                <label>Rating</label>

                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />

                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>

                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>

                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>

                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>

                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>

            <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>

                <textarea
                    name="review[comment]"
                    id="comment"
                    rows="5"
                    class="form-control"
                    required></textarea>

                <div class="invalid-feedback">
                    Please enter your review.
                </div>
            </div>

            <button class="btn btn-dark">Submit</button>
        </form>

    <% } %>

<% if (list.review.length > 0) { %>
<h4 class="mb-3">Reviews</h4>
    <div class="row g-3">
    <% for (let review of list.review) { %>
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="starability-result card-text"data-rating="<%= review.rating %>"></p>
                <% if (currUser && review.author._id.equals(currUser._id)) { %>
                <form method="post"action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
<% } %>
</div>
<% } %>

<div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-3">Where you will be</h3>
            <div id="map"></div>
        </div>
    </div>
    
</div>

<script>
    let mapToken = "<%= process.env.MAP_TOKEN %>";

    mapboxgl.accessToken = mapToken;

    const map = new mapboxgl.Map({
        container: "map",
        center: <%- JSON.stringify(list.geometry.coordinates) %>,
        zoom: 9
    });

    const marker = new mapboxgl.Marker({color:"red"})
        .setLngLat(<%- JSON.stringify(list.geometry.coordinates) %>)
        .addTo(map);
</script>

